<div class="form-horizontal">
	<div class="legend" data-i18n="TAB_ABOUT/LEGEND_ABOUT"></div>
	<div class="row">
		<div class="span4">
			<div class="rl-logo"></div>
			<div>
				2025 © <span data-i18n="TAB_ABOUT/LABEL_ALL_RIGHTS_RESERVED"></span>
				<br>
				<a class="g-ui-link" href="https://github.com/kimusan/Tachyon" target="_blank" style="padding-left: 0">github.com/kimusan/Tachyon</a>
			</div>
		</div>
		<div class="span6">
			<h1 style="margin-bottom: 0;">Tachyon</h1>
			<h4 style="margin-top: 0;" data-bind="text: version"></h4>
			<h4 style="color: #aaa; font-weight: normal;">Tachyon Webmail — fork of SnappyMail / RainLoop</h4>
			<h4 style="color: #aaa; font-weight: normal;" data-i18n="TAB_ABOUT/LABEL_TAG_HINT"></h4>

			<a class="btn" target="_blank" href="https://github.com/kimusan/Tachyon">
				<svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16">
					<path fill="currentColor" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
				</svg>
				<span style="margin-left:0.25rem">GitHub</span>
			</a>

			<div>
				<hr>
				<div data-bind="visible: 'error' === statusType()">
					<i class="fontastic" style="color:red">⚠</i>
					<span data-bind="text: errorDesc"></span>
				</div>
				<div data-bind="visible: 'available' === statusType()">
					<i class="fontastic" style="color:orange">⚠</i>
					<span data-bind="html: coreVersionHtmlDesc"></span>
					<br />
					<span data-bind="if: coreWarning">
						<br />
						<i class="fontastic" style="color:red">⚠</i>
						<b data-i18n="HINTS/WARNING"></b>
						<span data-i18n="TAB_ABOUT/HINT_READ_CHANGE_LOG"></span>
						<br />
					</span>
					<br />
					<a class="btn" href="https://github.com/kimusan/Tachyon/releases" target="_blank" data-i18n="TAB_ABOUT/BUTTON_RELEASES"></a>
					<a class="btn" data-bind="visible: coreUpdatable, click: updateCoreData" data-i18n="GLOBAL/UPDATE"></a>
					<a class="btn" href="https://github.com/kimusan/Tachyon/releases/latest" data-bind="visible: !coreUpdatable()" data-i18n="GLOBAL/UPDATE"></a>
				</div>
				<div data-bind="visible: 'up-to-date' === statusType()">
					<i style="color: green">✔</i>
					<span data-i18n="TAB_ABOUT/HINT_IS_UP_TO_DATE"></span>
				</div>
				<div data-bind="visible: 'updating' === statusType()">
					<i class="icon-spinner"></i>
					<span data-i18n="TAB_ABOUT/LABEL_UPDATING"></span>…
				</div>
				<div data-bind="visible: 'checking' === statusType()">
					<i class="icon-spinner"></i>
					<span data-i18n="TAB_ABOUT/LABEL_CHECKING"></span>…
				</div>
			</div>

			<h3>System</h3>
			<table class="table table-hover table-bordered"><tbody>
				<tr>
					<td>Average load past minute</td>
					<td data-bind="text: load1"></td>
				</tr>
				<tr>
					<td>Average load past 5 minutes</td>
					<td data-bind="text: load5"></td>
				</tr>
				<tr>
					<td>Average load past 15 minutes</td>
					<td data-bind="text: load15"></td>
				</tr>
			</tbody>
			</table>

			<h3>PHP</h3>
			<div data-bind="hidden: php64" class="alert">
				<i class="fontastic" style="color:red">⚠</i>
				PHP is running in 32bit mode. <a href="https://github.com/kimusan/Tachyon/wiki/32bit-php" target="_blank">read here</a>
			</div>

			<table class="table table-hover table-bordered"><thead><tr>
				<th>Extension</th>
				<th>Loaded</th>
			</tr></thead><tbody data-bind="foreach: phpextensions">
				<tr>
					<td data-bind="text: name"></td>
					<td data-bind="text: loaded ? '✔' : '❌'"></td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>
